body {
  position: relative;
  font-size:  16pt;
  font-family: 'Arial Narrow', serif;
}

.fright{float: right;}

.invisible {
  visibility: hidden;
}
.hidden {
  display: none;
}
.right {text-align: right}

a.btn {
  border: 1px solid #CCC;
  padding: 1px 4px;
  cursor: pointer;
}


button, textarea, input[type="text"],  select, select option {
  font-size: inherit;
  font-family: inherit;
}

footer {
  position: fixed;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  padding-left: 1em;
}

div#message {
  position: fixed;
  color: white;
  left: calc(100%/2 - 200px);
  width: 400px;
  top: 8em;
  padding: 1em 2em;
  z-index: 100;
  cursor: pointer;
}
div#message.error {
  background-color: red;
}
div#message.notice {
  background-color: blue;
}
div#message.doaction {
  background-color: orange;
}

