/*
  Container principaux des tâches
*/
section.task-container {
  position: fixed;
  border: 1px solid #DDD;
  width: 33%;
  top: 0;
  display: inline-block;
  min-height: 100px;
}
section#sans_echeances {left: 0px}
section#current {left: 34%}
section#historique {right: 0%}

section.task-container legend {
  color: #CCC;
  top: 10px;
  left: 10px;
}
section.task-container > div.container_footer {
  position: absolute;
  bottom: 0;
  left:  0;
  background-color: #EEE;
  height: 40px;
  width: 100%;
}

section.task-container > div.container_footer a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid #777;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
}

/* N'importe quelle tâche */
section.task-container div.task {
  border: 2px solid transparent;
  cursor: pointer;
}
section.task-container div.task:hover {
  border-color: #CCF;
}

/* La "boite à outils" de la tâche */
section.task-container div.task div.tools {
  opacity: 0.15;
}
section.task-container div.task div.tools:hover {
  opacity: 1;
}
section.task-container div.task div.tools a {
  margin-left: 8px;
}
/* Le bouton pour détruire la tâche (plus petit) */
section.task-container div.task div.tools a.kill_btn {
  font-size: 0.5em;
}



/* Les div contenant les tâches */
section.task-container > div.tasks {
  overflow: auto;
}

/* Les tâches principales */
section.task-container > div.tasks > div.task {
  /*border: 1px solid #DDD;*/
  /*border-radius: 12px;*/
  width: calc(100% - 76px);
  margin-left: 40px;
  padding: 8px 16px;
}

section.task-container > div.tasks div.task.done {
  text-decoration: line-through;
  opacity: 0.5;
  font-style: italic;
}



/* Les jour dans l'historique */
section.task-container div.tasks div.jour {
  font-weight: bold;
  font-family: 'Arial';
  font-size: 1.15em;
  border-top: 1px solid #CCC;
  margin-top: 1em;
  padding-top: 0.8em;
  margin-left: 8px;
}
/* Les groupes (groupDay) dans l'historique */
section.task-container div.tasks div.group {
  font-variant: all-small-caps;
  font-weight: bold;
  font-family: 'Arial Narrow';
  font-size: 1.2em;
  margin-left: 1em;
}

/* Un lien à ouvrir, dans le texte */
button.link_in_content {
  all: unset;
  color: orange;
  font-size: inherit;
  font-family: inherit;
  font-style:  inherit;
  cursor: alias;
}
